.baseNewsItem{
    padding: 8px;
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: #fff;
    box-sizing: border-box;
    height: 136px;
    /* flex: 1; */
}

.baseNewsItemText{
    flex: 1
}

.baseNewsItemTitLe{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
}

.baseNewsItemDescription{
    overflow: hidden;
    text-overflow: ellipsis;
    height:80px;
    width:100%;
}
.baseNewsItemImage{
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    min-width:200px;
    height: 120px;
    margin-left: 12px;
}