.baseProductWrapper{
    display: flex;
    flex-direction: column;
    width: 360px;
    border: 1px solid #000;
    height:480px;
    border-radius:4px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.baseProductImage{
    width: 100%;
    height: 320px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    flex:1
}

.baseProductWrapper:hover {
    transform: translateY(-10px);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.baseProductName{
    font-size: 16px;
    font-weight: bold;
    margin: 16px 0px;
    padding-left: 16px;
}

.baseProductPrice{
    margin-bottom:8px;
    font-weight: 500;
    font-size:18px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.baseProductDetail{
    margin-bottom: 8px;
    display: flex;
    width: 100%;
    justify-content:space-between;
    padding:0px 16px;
}

.baseProductSoldMoney {
    display: flex;
    width: 100%;
    padding:0px 16px;
    justify-content:space-between;
}