.baseGridTableWrapper {
    height: calc(100vh - 232px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.baseGridTable{
    width: 100%;
    margin-top:24px;
    overflow:scroll;
    display:block;
    min-height:100px;
}

.baseGridTable thead{
    position:sticky;
    top: 0;
    left: 0;
    width: 100%;
}

.baseGridTable::-webkit-scrollbar{
    width: 5px;
    height: 8px;
    margin-top:4px
}

.baseGridTable::-webkit-scrollbar-thumb {
    background: #A62B4D; 
    border-radius: 10px;
  }
  
.baseGridTable::-webkit-scrollbar-thumb:hover {
    background: #ab2148; 
}

.baseGridTable thead td {
    white-space: nowrap;
    border-left: 1px solid #000;
    background-color: #A62B4D;
    color: #fff;
    font-size:16px;
    padding:4px 4px;
    min-width: 105.9px;
}

.baseGridTable tr {
    max-height:40px;
}


.baseGridTable thead td:first-child {
    border-right: 1px solid #000;
}

.baseGridTable tbody td:first-child {
    background-color:#E4E4E4;
    border-right: 1px solid #000;
}

.baseGridTable thead td:nth-child(2) {
    border-left: none;
}

.baseGridTable tbody td:nth-child(2) {
    border-left: none;
}

.baseGridTable tbody td {
    padding:2px 4px;
    box-sizing: border-box;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.baseGridTable tbody td {
    white-space: nowrap;
    border-left:1px solid #000;
    border-bottom: 1px solid #000;
}


.baseGridTable tbody td:last-child {
    background-color:#E4E4E4;
}

.baseGridTable tr td:first-child{
    border-left: none;
}

.emptyTable {
    position: absolute;
    width: 100%;
    border-bottom:1px solid #000;
    box-sizing: border-box;
    padding:8px;
    font-size:24px;
    text-align:center;
}