.categoryFilterField{
    /* background-color: red; */
    margin-bottom:8px
}

.categoryFilterFieldTitle{
    font-weight: bold;
    font-size:18px;
    margin-bottom:8px
}

.categoryFilterItem{
    display:flex;
    margin-bottom:4px
}

.categoryFilterCheckbox{
    border: 1px solid #A62B4D;
    width: 20px;
    height: 20px;
    border-radius:4px;
    margin-right: 8px;
    display:flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-sizing: border-box;
}

.categoryFilterCheckboxInside{
    background-color:#A62B4D;
    width: 16px;
    height: 16px;
    border-radius: 4px;
    box-sizing: border-box;
}

.categoryFilterDisplay{

}