.footerContextItem {
    color: #979797;
    font-style:normal;
    font-weight:300;
    font-size:16px;
    margin-top:4px;
    cursor: pointer;
    white-space: nowrap;
}

.footerContextItem:hover {
    color: #fff
}