.headerContainer{
    height:80px;
    width: 100%;
    display: flex;
    background-color:#000;
    align-items: center;
    position:sticky;
    top: 0;
    left: 0;
    z-index: 99;
    border-bottom: 1px solid #fff;
    box-sizing: border-box;
}

.headerLogoWrapper {
    min-width:260px;
    height: 80px;
    background-color: #A62B4D;
    box-sizing: border-box;
}

.headerText{
    color: #fff;
    display: flex;
    width: 100%;
    justify-content:space-between;
    padding:0px 32px;
    font-size:20px;
    font-weight: 400;
}

.headerAdminName{
    
}
.headerShopName{

}

.headerLogo{
    width:100%;
    height: 80px;;
    background-image: url(../../source/images_webUMEE/logo_default.png);
    background-position:center;
    background-repeat: no-repeat;
    background-size:contain;
}

.headerLogo:hover{
    opacity: 0.8;
    cursor: pointer;
}

.headerContext{
    display: flex;
    flex:1;
    justify-content: space-between;
}

.headerContext div {
    flex: 1;
}

.headerSearchInput{
    margin-left: 20px;
    margin-right:20px;
    position: relative;
}
.headerUser{
    margin-right: 16px;
    cursor: pointer;
    position: relative;
}

.headerUser:hover {
    transform: scale(1.2)
}

.headerUser:hover .userContext {
    display:block;
}

.headerCart{
    margin-right: 40px;
    cursor: pointer;
    position: relative;
}

.headerCart:hover {
    transform: scale(1.2)
}

.headerContextCategory {
    position: relative;
}

.headerContextCategory:hover .baseMenuDrop {
    display: block;
}

.headerUser:hover .baseMenuDrop{
    display: block;
}

.headerCartBar {
    background-color: red;
    color: #fff;
    width: 24px;
    height: 24px;
    border-radius:50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position:absolute;
    top: -8px;
    right: -10px;
}

.headerSearchList{
    position: absolute;
    background-color: #fff;
    width: 100%;
    height: 400px;
    overflow-y: scroll;
    top: calc(100% + 6px);
    padding-top:10px;
    padding-left: 10px;
    border-radius: 4px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.headerSearchList::-webkit-scrollbar{
    width: 5px;
}

.headerSearchList::-webkit-scrollbar-thumb {
    background: #A62B4D; 
    border-radius: 10px;
  }
  
.headerSearchList::-webkit-scrollbar-thumb:hover {
    background: #A62B4D; 
}